@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap");

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;

  .weathers-container {
    background-color: red;

    .current-weather {
      margin-top: 60px;
      text-align: center;

      h1 {
        color: #fff;
        font-size: 90px;
        font-weight: bold;
        margin-top: 28px;
        position: relative;
        margin-bottom: 34px;

        span {
          position: absolute;
          font-size: 22px;
          top: 10px;
        }
      }

      h2 {
        color: #000;
        font-size: 18px;
        position: relative;
      }
    }

    .next-weather {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .weather {
        text-align: center;

        h2 {
          color: #000;
          font-weight: 600;
          font-size: 16px;
          margin: 6px 0px;
          position: relative;
        }

        h3 {
          color: #fff;
          font-size: 22px;
          position: relative;

          span {
            position: absolute;
            top: 2px;
            font-size: 12px;
          }
        }
      }
    }
  }

  .pseudo-search {
    display: flex;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px 15px;
    transition: background-color 0.5 ease-in-out;
    box-sizing: border-box;
    padding: 30px 15px;
    position: relative;
    width: 600px;
    background-color: #fff;

    button {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 20px;
      border: none;
      background: none;
      cursor: pointer;
    }

    input {
      &:focus {
        border: 1px solid #145086;
      }
    }
    .image {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }

    .first-item-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .first-item {
        width: 80px;
        margin-right: 10px;
        height: 18px;
      }

      .first-item-hidden {
        color: transparent;
        height: 19px;
        width: calc(100% - 10px);
        margin-right: 10px;
      }

      .icon {
        position: absolute;
        right: 20px;

        :hover {
          cursor: pointer;
        }
      }
    }
    .options {
      position: absolute;
      top: 55px;
      background-color: #fff;
      width: 92px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      padding: 15px;
      border-radius: 2px;
      height: 400px;
      overflow-y: auto;
    }

    .flag-wrapper-active {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 14px;
      height: 30px;
      top: 8px;
      left: 15px;

      .flags {
        width: 30px;
        height: 22px;
        border: 1px solid #ccc;
        border-radius: 2px;
        margin-right: 10px;
      }
    }
    .flag-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 14px;
      height: 30px;

      .flags {
        width: 30px;
        height: 22px;
        border: 1px solid #ccc;
        border-radius: 2px;
        margin-right: 10px;
      }
    }
    input {
      border: 0;
      background-color: transparent;
      width: 100%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;

      &:focus {
        outline: none;
      }
    }
    .icon {
      color: #ccc;
    }

    select {
      border: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .app {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100vh;
    position: relative;

    .pseudo-search {
      width: 500px;
      margin-top: 100px;
    }

    .weathers-container {
      .next-weather {
        justify-content: center;
        display: grid;

        .weather {
          margin: 10px 0;

          h2 {
            font-size: 20px;
          }

          h3 {
            font-size: 26px;

            span {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 1199px) and (min-width: 600px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1519px) {
}

@media only screen and (min-width: 1520px) {
}
